<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-language" content="zh-Hant-TW" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="" />
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />
  <title>第四週 Vue 開發產品管理頁面 - 登入</title>
  <link rel="stylesheet" href="css/all.css">

  <style>
    html,
    body {
      height: 100vh;
      text-align: center;
    }

    body {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="container">
      <form class="form-signin" @submit.prevent="signin">
        <h1 class="h3 mb-3 font-weight-normal">
          請先登入
        </h1>
        <div class="form-group">
          <label for="inputEmail" class="sr-only">Email address</label>
          <input id="inputEmail" v-model="user.email" type="email" class="form-control" placeholder="Email address"
            required autofocus>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="sr-only">Password</label>
          <input id="inputPassword" v-model="user.password" type="password" class="form-control" placeholder="Password"
            required>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
          登入
        </button>
        <br>
        <button class="btn btn-outline-primary btn-block" type="button" @click="signout">
          登出
        </button>
        <br>
        <button class="btn btn-outline-primary btn-block" type="button" @click="getData">
          取得資料
        </button>
        <p class="mt-5 mb-3 text-muted">
          © 2020~∞ - 六角學院
        </p>
      </form>
    </div>
  </div>

  <script src="js/jquery.3.1.1.min.js"></script>
  <script src="js/axios.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/vue.js"></script>
  <!-- <script src="js/all.js" type=""></script> -->

  <script>
    // UUID
    const uuid = 'e6527241-dd52-4bd8-94eb-eb0e02127c72'; // 請加入個人的 UUID
    const apiPath = 'https://course-ec-api.hexschool.io/api/';
    new Vue({
      el: '#app',
      data() {
        return {
          user: {
            email: '',
            password: '',
          },
          token: ''
        };
      },
      methods: {
        signin() {
          const api = `${apiPath}auth/login`;
          axios.post(api, this.user).then((res) => {

            const token = res.data.token;
            const expired = res.data.expired;
            /*
              new Date(expired * 1000)
              timestamp unix >> 一般時間格式
            */
            document.cookie = `token=${token}; expires=${new Date(expired * 1000)}; path=/`;

            // // 轉址一定要在 ajax 之後
            window.location = './product.html';

          }).catch((error) => {
            console.log(error);
          });
        },
        signout() {
          // 將 token 、 expired 拿掉
          document.cookie = `token=; expires=; path=/`;
        },
        getData() {
          // 取得 token 的 cookies（注意取得的時間點）
          // 詳情請見：https://developer.mozilla.org/zh-CN/docs/Web/API/Document/cookie
          this.token = document.cookie.replace(/(?:(?:^|.*;\s*)token\s*\=\s*([^;]*).*$)|^.*$/, "$1");
          const api = `${apiPath}${uuid}/admin/ec/products`
          // 將 Token 加入到 Headers 內
          axios.defaults.headers.common.Authorization = `Bearer ${this.token}`;
          axios.get(api).then((res) => {
            console.log(res.data.meta);
          })

        }
      },
    })
  </script>
</body>

</html>